<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "edit.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<h1>Editing Employee</h1>

<%= render 'form', employee: @employee %>

<%= link_to 'Show', employee_path(@employee) %>
<%= link_to 'Hide Details', employees_path %>
