<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "new.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<h1>New Phone Type</h1>

<%= render 'form', phone_type: @phone_type %>

<%= link_to 'Hide Details', phone_types_path %>
