<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "edit.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<h1>Editing Division</h1>

<%= render 'form', division: @division %>

<%= link_to 'Show', division_path(@division) %>
<%= link_to 'Hide Details', divisions_path %>
