<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "edit.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<h1>Editing Company</h1>

<%= render 'form', company: @company %>

<%= link_to 'Show', mng_cmp_company_path(@company) %>
<%= link_to 'Hide Details', mng_cmp_companies_path %>
