<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "new.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<h1>New Company</h1>

<%= render 'form', company: @company %>

<%= link_to 'Hide Details', companies_path %>
