<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "new.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<h1>New Employee Phone</h1>

<%= render 'form', employee_phone: @employee_phone %>

<%= link_to 'Hide Details', employee_phones_path %>
